*{
    margin: 0; padding: 0;
}
body{
    position: relative;
    padding-top: 100px;
}

/* NAV */
nav{
    display:flex;
    justify-content: space-between;
    padding: 20px 100px;
}
.logo>img{
    
}

.message{
    position: relative;
}
.message > input{
    border-radius: 29px;
    border: 3px solid #6c05f2;
    color: #6c05f2;
}
.message > a{text-decoration: none;
    color: #000;
    position: absolute;
    top: 8px;
    right: 100px;
    width: 90px;
    height: 40px;
    font-size: 0.9rem;
    text-align: center;
}
/* DEV-INFO */

.dev-info{
    text-align: center;
    padding: 50px 100px;
}

.dev-info>h1{
    font-size: 3rem;
    font-weight: 600;
}
.dev-info>p{
    font-size: 1.1rem;
    font-weight: 500;
    padding: 20px;
    margin: auto;
}
.dev-info>input{
    margin: 10px;
    width: 140px;
    height: 50px;
    background-color: #6c05f2;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 29px;
    border: none;
}
.dev-info>img{
    padding: 30px;
}
.dev-info>input:hover{
        width: 160px;
        height: 50px;
        background-color: transparent;
        border: 4px solid #6c05f2;
        color: #6c05f2;
}
.here{
    color: #000;
}

/* ABOUT */

#About{
    background-color: #7310ee;
    color: #fff;
    text-align: center;
   padding-bottom: 100px;
}

.about>h2{ padding-top: 70px;
    padding-bottom: 20px;
         font-size: 1.5rem;
        font-weight: 700;
}

.about>p{
    font-size: 1.1rem;
        padding: 20px 50px;
        margin: auto;
        /* width: 800px; */
        line-height: 1.7;
}

/* SERVICES */

#Services{
    padding:50px 150px;
    text-align: center;
    margin: 10px;
}


.material-symbols-outlined{
    font-size: 4rem;
        color: #6c05f2;
        padding: 20px;
}
.card-body>h2{
    font-size: 1.1rem;
    color: #6c05f2;
    padding: 20px;
}
.card-body>p{
    font-size: 1rem;
        padding: 10px;
}

/* CTA */

.cta{position: relative;
    background-color: #7310ee;
    text-align: center;
    color: #fff;
    padding: 50px 0 140px 0;
}
.cta>input{
        margin: 15px;
        width: 110px;
        height: 50px;
        background-color: transparent;
        color: #fff;
        font-size: 1.1rem;
        border-radius: 29px;
        border:2px solid;
}

/* PROJECT */

.project{ background-color: #151c3b;
    border-radius: 20px;
    margin:0 40px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    color: #fff;
    position: relative;
    bottom: 80px;

}
.project-body{
    width: 340px;
    font-size: 1rem;
}

.project-cta>input{
    
        width: 190px;
        height: 50px;
        background-color: transparent;
        color: #fff;
        font-size: 1.1rem;
        border-radius: 29px;
        border: 2px solid #5fe8bb;
}
.project-cta>input:hover{
    background-color:#5fe8bb ;
    color: #000;
}
                 /* SOCIAL MEDIA */

#social-media{
    padding: 50px 50px 0 50px;
}
.contact{
    position: relative;
        bottom: 60px;
}
.contact>h2{
    padding:30px 0;
    font-size: 2.5rem;
}
.contact>h3{
    font-size: 2rem;
}
.contact>h3>a{
    text-transform: lowercase;

}

.social-icons{
    text-align: center;
    padding: 30px;
    display: flex;
    
}

.social-icons>.icons{
       background-color: #6c05f2;
        font-size: 1.5rem;
        margin: 10px;
        border-radius: 25px;
        width: 40px;
        height: 40px;
        text-align: center;
        border: 2px solid #6d78a8;
}
.social-icons>.icons:hover{
    background-color: #fff;
}
.social-icons>.icons>.twitter{
    color: #00acee;
    margin: auto;
}
.social-icons>.icons>.insta{
    color:#962fbf ;
}
.social-icons>.icons>.linkedin{
    color: #0072b1;
}
.social-icons>.icons>.mail {
    color: #c71610;

}

/* FOOTER */

footer{
    background-color: #000;
        color: #fff;
        text-align: center;
        padding: 30px;
        font-size: 1rem;
}

/* MEDIA QUERIES */

@media screen and (max-device-width: 680px){
   *{
        margin: 0;
        padding: 0;
     }
        /* NAV */

                nav {
                    display: flex;
                    justify-content: space-between;
                    padding: 20px 10px;

                }
        
                

        /* DEV-INFO */

                .dev-info {
                    margin: auto;
                    text-align: center;
                    padding: 0;
                    margin-bottom: 20px;
                }
        
                .dev-info>h1 {
                    font-size: 1.5rem;
                    font-weight: 600;
                    width: 280px;
                    margin: auto;
                }
        
                .dev-info>p {
                    font-size: 1rem;
                    margin: auto;
                }
        
                .dev-info>img {
                    padding: 30px;
                }

         
    
         /* ABOUT */

                 #About {
                     padding-bottom: 20px;
                 }
        
                 .about>h2 {
                     padding: 20px 10px;
                     font-size: 1.5rem;
                     font-weight: 600;
                 }
        
                 .about>p {
                     font-size: 1rem;
                     margin: auto;
                     padding:0 20px 20px 20px;
                 }

          /* SERVICES */
                  #Services {
                     padding: 20px;
                      text-align: center;
                      margin: auto;
                  }
        
        
                  .material-symbols-outlined {
                      font-size: 4rem;
                      color: #6c05f2;
                      padding: 20px;
                  }
        
                  .card-body>h2 {
                      font-size: 1.2rem;
                      color: #6c05f2;
                  }
        
                  .card-body>p {
                      font-size: 1.1rem;
                  }

           /* CTA */
                   .cta {
                       position: relative;
                       background-color: #7310ee;
                       text-align: center;
                       color: #fff;
                       padding: 30px 0 50px 0;
                   }
                   .cta>h2{
                    margin-top: 40px;
                   }
                   .cta>input{
                    visibility: hidden;
                   }
        
           /* PROJECT */
                   .project {
                       background-color: #151c3b;
                       border-radius: 25px;
                       margin: 0 10px;
                      height: 150px;
                       display: flex;
                       justify-content: space-around;
                       color: #fff;
                       position: relative;
                      
                   }
                   
                   .project-body {
                       visibility: hidden;
                   }
        
                   .project-cta>input {
        
                      
                       background-color: transparent;
                       color: #fff;
                       font-size: 1.1rem;
                       border-radius: 29px;
                       border: 2px solid #5fe8bb;
                   }
        
                   .project-cta>input:hover {
                       background-color: #5fe8bb;
                       color: #000;
                   }
           /* CONTACT */
                   .contact>h3 {
                       font-size: 1.2rem;
                   }


}